export(ucCor)
export(cramerV)
export(fdfAsInt)
export(intAsFDF)
export(Rows2)
export(logsumexp)
export(notdiag)
export(blockDiag)
export(sort.profr)
export(intersection)
export(table2)
export(useOuterStrips)
export(useOuterStrips2)
