export(as.data.frame2.table)
export(blockDiag)
export(changeLevels)
export(cramerV)
export(document)
export(fdfAsInt)
export(generateFactorRenamer)
export(intAsFDF)
export(intersection)
export(logsumexp)
export(missingnessRemove)
export(missingnessSummary)
export(naToString)
export(new_stack)
export(notdiag)
export(Rows2)
export(table2)
export(ucCor)
export(useOuterStrips)
export(useOuterStrips2)
import(devtools)
import(lattice)
import(plyr)
import(testthat)
S3method(sort,profr)
