S3method(sort,profr)
export(Rows2)
export(as.data.frame2.table)
export(blockDiag)
export(changeLevels)
export(colours_rjbg)
export(cramerV)
export(fdfAsInt)
export(generateFactorRenamer)
export(intAsFDF)
export(intersection)
export(logsumexp)
export(missingnessRemove)
export(missingnessSummary)
export(naToString)
export(new_stack)
export(notdiag)
export(pdfcrop)
export(table2)
export(theme_rjbg_white)
export(ucCor)
export(useOuterStrips)
export(useOuterStrips2)
import(ggplot2)
import(lattice)
import(plyr)
import(testthat)
import(utils)
